{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Dashboard</h1>
    <div>
        <h3>CGWs</h3>
    <table class="table table-striped table-dark">
      <tr>
          <th scope="col">Status</th>
          <th scope="col">Reachable</th>
          <th scope="col">Cluster</th>
          <th scope="col">Eligible</th>
          <th scope="col">CGW Id</th>
          <th scope="col">IP</th>
          <th scope="col">Type</th>
          <th scope="col">AZ</th>
          <th scope="col">Hub</th>
          <th scope="col">Ext</th>
          <th scope="col">BW Max</th>
          <th scope="col">BW Remain</th>
      </tr>
        {% for i in cgws%}
            <TR>
                <TD>{{ i.status }}</TD>
                <TD>{{ i.reachability }}</TD>
                <TD>{{ i.cluster_value }}</TD>
                <TD>{{ i.eligible }}</TD>
                <TD>{{ i.CustomerGatewayId }}</TD>
                <TD>{{ i.PublicIp }}</TD>
                <TD>{{ i.InstanceType }}</TD>
                <TD>{{ i.AvailabilityZone }}</TD>
                <TD>{{ i.hub }}</TD>
                <TD>{{ i.region_extension }}</TD>
                <TD>{{ i.max_bandwidth }}</TD>
                <TD>{{ i.available_bandwidth }}</TD>
            </TR>
        {% endfor %}
    </table>
    </div>
    <br>
    <div>
        <h3>VGWs</h3>
    <table class="table table-striped table-dark">
      <tr>
          <th scope="col">Cluster</th>
          <th scope="col">VGW Id</th>
          <th scope="col">Region</th>
          <th scope="col">BW</th>
      </tr>
        {% for i in vgws%}
            <TR>
                <TD>{{ i.cluster_value }}</TD>
                <TD>{{ i.VpnGatewayId }}</TD>
                <TD>{{ i.Region }}</TD>
                <TD>{{ i.bandwidth }}</TD>
            </TR>
        {% endfor %}
    </table>
    </div>
    <br>
        <div>
        <h3>TGWs</h3>
    <table class="table table-striped table-dark">
      <tr>
          <th scope="col">Cluster</th>
          <th scope="col">TGW Id</th>
          <th scope="col">Region</th>
      </tr>
        {% for i in tgws%}
            <TR>
                <TD>{{ i.cluster_value }}</TD>
                <TD>{{ i.TransitGatewayId }}</TD>
                <TD>{{ i.Region }}</TD>
            </TR>
        {% endfor %}
    </table>
    </div>
    <br>
    <div>
            <h3>VPNs</h3>
    <table class="table table-striped table-dark">
      <tr>
          <th scope="col">Cluster</th>
          <th scope="col">Status</th>
          <th scope="col">VPN Id</th>
          <th scope="col">CGW IP</th>
          <th scope="col">CGW Id</th>
          <th scope="col">VGW Id</th>
          <th scope="col">TGW Id</th>
          <th scope="col">Region</th>
          <th scope="col">BW</th>
      </tr>
        {% for i in vpns%}
            <TR>
                <TD>{{ i.cluster_value }}</TD>
                <TD>{{ i.status_aws }}</TD>
                <TD>{{ i.VpnConnectionId }}</TD>
                <TD>{{ i.PublicIp }}</TD>
                <TD>{{ i.CustomerGatewayId }}</TD>
                <TD>{{ i.VpnGatewayId }}</TD>
                <TD>{{ i.TransitGatewayId }}</TD>
                <TD>{{ i.Region }}</TD>
                <TD>{{ i.bandwidth_mbps }}</TD>
            </TR>
        {% endfor %}
    </table>
    </div>


{% endblock %}
